
/* Embeded Font Links */
/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com
*/
@font-face{
  font-family:"Ghibli W01 Regular";
  src:url("./assets/MTI-WebFonts-891162189-Ghibli-WebFonts/Fonts/1609205-Reg/74617b4c-d553-48fa-a8cc-c6cdc4ef074f.woff2") format("woff2"),url("./assets/MTI-WebFonts-891162189-Ghibli-WebFonts/Fonts/1609205-Reg/50e67fe3-0e4e-4b0a-a8bf-3dfd6f3aa8a8.woff") format("woff");
}
@font-face{
  font-family:"Ghibli W01 Bold";
  src:url("./assets/MTI-WebFonts-891162189-Ghibli-WebFonts/Fonts/1609291-Bold/4000ec69-7f7e-4e27-8967-d653460d5a9e.woff2") format("woff2"),url("./assets/MTI-WebFonts-891162189-Ghibli-WebFonts/Fonts/1609291-Bold/f8055871-23da-4952-a7e1-e2c97f7b2d2f.woff") format("woff");
}

/*Details of document
    font: "Ghibli W01 Regular", "Ghibli W01 Bold", serif;
    background-color: linear-gradient(#AEF8C9 0%, #BFD6FC 20%, #F2C4F8 85%);
   
*/

/* Main Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ghibli W01 Regular", "Ghibli W01 Bold", serif;
  letter-spacing: 4px;
  line-height: 1.6;
  background: linear-gradient(#AEF8C9 0%, #BFD6FC 20%, #F2C4F8 85%); 
}

header {
  font-weight: 700;
  font-size: 40px;
  margin: 20px 0 20px 0;
}

footer {
  margin-top: 50px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  margin-left: 50%;
}


/* Images */
img {
  margin: 20px;
}

#leaf {
    margin-left: 45%;
}

/*
html {   
  background: #F6F6F6;     <---Figure out how to fix/get ride of 
} */


/* Text Structure */

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}


/* Button Structure */
button {
  width: 95%;
  margin-top: 15px;
  
  
}
button:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}



/* Secondary Layout Structures */

#heading {
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #AEF8C9;
}

.movies {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: 16px;
  text-align: center;
  font-weight: 700;
}

.persons {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: 16px;
  text-align: center;
  font-weight: 700;
}




/* Tertiary Layout Structures */


  .card {
    margin: 1rem;
    background: transparent;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }
  
  